app/Services/Billing/Szamlazzhu/nyugtavalasz/xmlnyugtavalasz.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.szamlazz.hu/xmlnyugtavalasz" xmlns:tns="http://www.szamlazz.hu/xmlnyugtavalasz" elementFormDefault="qualified">

    <simpleType name="afatipusTipus">
        <restriction base="string">
            <enumeration value="TAM"></enumeration>
            <enumeration value="AAM"></enumeration>
            <enumeration value="EU"></enumeration>
            <enumeration value="EUK"></enumeration>
            <enumeration value="MAA"></enumeration>
            <enumeration value="F.AFA"></enumeration>
            <enumeration value="K.AFA"></enumeration>
            <enumeration value="ÁKK"></enumeration>
        </restriction>
    </simpleType>
    
    <simpleType name="nyugtatipusTipus">
        <restriction base="string">
            <enumeration value="NY"></enumeration>          <!-- nyugta -->
            <enumeration value="SN"></enumeration>          <!-- nyugta sztornó -->
        </restriction>
    </simpleType>


    <!-- számla alapadatai -->
    <complexType name="alapTipus">
        <all>
            <element name="id"                    type="int"                   maxOccurs="1" minOccurs="1"></element>
            <element name="hivasAzonosito"        type="string"                maxOccurs="1" minOccurs="0"></element>
            <element name="nyugtaszam"            type="string"                maxOccurs="1" minOccurs="1"></element>
            <element name="tipus"                 type="tns:nyugtatipusTipus"  maxOccurs="1" minOccurs="1"></element>
            <element name="stornozott"            type="boolean"               maxOccurs="1" minOccurs="1"></element>
            <element name="stornozottNyugtaszam"  type="string"                maxOccurs="1" minOccurs="0"></element>
            <element name="kelt"                  type="date"                  maxOccurs="1" minOccurs="1"></element>
            <element name="fizmod"                type="string"                maxOccurs="1" minOccurs="1"></element>
            <element name="penznem"               type="string"                maxOccurs="1" minOccurs="1"></element>
            <element name="devizabank"            type="string"                maxOccurs="1" minOccurs="0"></element>
            <element name="devizaarf"             type="double"                maxOccurs="1" minOccurs="0"></element>
            <element name="megjegyzes"            type="string"                maxOccurs="1" minOccurs="0"></element>
            <element name="fokonyvVevo"           type="string"                maxOccurs="1" minOccurs="0"></element>
            <element name="teszt"                 type="boolean"               maxOccurs="1" minOccurs="1"></element>
        </all>
    </complexType>
    
    <!-- számla tételek -->
    <complexType name="fokonyvtetelTipus">
        <all>
            <element name="arbevetel"             type="string"                maxOccurs="1" minOccurs="0"></element>
            <element name="afa"                   type="string"                maxOccurs="1" minOccurs="0"></element>
        </all>
    </complexType>
    <complexType name="tetelTipus">
        <all>
            <element name="megnevezes"            type="string"                maxOccurs="1" minOccurs="1"></element>
            <element name="azonosito"             type="string"                maxOccurs="1" minOccurs="0"></element>
            <element name="nettoEgysegar"         type="double"                maxOccurs="1" minOccurs="1"></element>
            <element name="mennyiseg"             type="double"                maxOccurs="1" minOccurs="1"></element>
            <element name="mennyisegiEgyseg"      type="string"                maxOccurs="1" minOccurs="1"></element>
            <element name="netto"                 type="double"                maxOccurs="1" minOccurs="1"></element>
            <element name="afatipus"              type="tns:afatipusTipus"     maxOccurs="1" minOccurs="0"></element>
            <element name="afakulcs"                                           maxOccurs="1" minOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="0"></minInclusive>
                    </restriction>
                </simpleType>
            </element>
            <element name="afa"                   type="double"                maxOccurs="1" minOccurs="1"></element>
            <element name="brutto"                type="double"                maxOccurs="1" minOccurs="1"></element>
            <element name="fokonyv"               type="tns:fokonyvtetelTipus" maxOccurs="1" minOccurs="0"></element>
        </all>
    </complexType>
    <complexType name="tetelekTipus">
        <sequence>
            <element name="tetel"                 type="tns:tetelTipus"        maxOccurs="unbounded" minOccurs="1"></element>
        </sequence>
    </complexType>

    <!-- áfakulcsonkénti összesítés -->
    <complexType name="afakulcsosszTipus">
        <all>
            <element name="afatipus"              type="tns:afatipusTipus"     maxOccurs="1" minOccurs="0"></element>
            <element name="afakulcs"                                           maxOccurs="1" minOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="0"></minInclusive>
                    </restriction>
                </simpleType>
            </element>
            <element name="netto"                 type="double"                maxOccurs="1" minOccurs="1"></element>
            <element name="afa"                   type="double"                maxOccurs="1" minOccurs="1"></element>
            <element name="brutto"                type="double"                maxOccurs="1" minOccurs="1"></element>
        </all>
    </complexType>
    <!-- számla teljes összesítés -->
    <complexType name="totalosszTipus">
        <all>
            <element name="netto"                 type="double"                maxOccurs="1" minOccurs="1"></element>
            <element name="afa"                   type="double"                maxOccurs="1" minOccurs="1"></element>
            <element name="brutto"                type="double"                maxOccurs="1" minOccurs="1"></element>
        </all>
    </complexType>
    <!-- számla összesítők (áfakulcsonként és total) -->
    <complexType name="osszegekTipus">
        <sequence>
            <element name="afakulcsossz"          type="tns:afakulcsosszTipus" maxOccurs="unbounded" minOccurs="1"></element>
            <element name="totalossz"             type="tns:totalosszTipus"    maxOccurs="1" minOccurs="1"></element>
        </sequence>
    </complexType>

    <!-- jóváírások -->
    <complexType name="kifizetesTipus">
        <all>
            <element name="fizetoeszkoz"          type="string"               maxOccurs="1" minOccurs="1"></element>
            <element name="osszeg"                type="double"               maxOccurs="1" minOccurs="1"></element>
            <element name="leiras"                type="string"               maxOccurs="1" minOccurs="0"></element>
        </all>
    </complexType>
    <complexType name="kifizetesekTipus">
        <sequence>
            <element name="kifizetes"             type="tns:kifizetesTipus"   maxOccurs="unbounded" minOccurs="1"></element>
        </sequence>
    </complexType>

    <complexType name="nyugtaTipus">
        <all>
            <element name="alap"                  type="tns:alapTipus"         maxOccurs="1" minOccurs="1"></element>
            <element name="tetelek"               type="tns:tetelekTipus"      maxOccurs="1" minOccurs="1"></element>
            <element name="kifizetesek"           type="tns:kifizetesekTipus"  maxOccurs="1" minOccurs="0"></element>
            <element name="osszegek"              type="tns:osszegekTipus"     maxOccurs="1" minOccurs="1"></element>
        </all>
    </complexType>

    <element name="xmlnyugtavalasz">
        <complexType>
            <all>
                <element name="sikeres"           type="boolean"               maxOccurs="1" minOccurs="1"></element>
                <element name="hibakod"           type="int"                   maxOccurs="1" minOccurs="0"></element>
                <element name="hibauzenet"        type="string"                maxOccurs="1" minOccurs="0"></element>
                <element name="nyugtaPdf"         type="string"                maxOccurs="1" minOccurs="0"></element>
                <element name="nyugta"            type="tns:nyugtaTipus"       maxOccurs="1" minOccurs="0"></element>
            </all>
        </complexType>
    </element>
</schema>
